:root{
    --fs-base: 16px;
    --fs-14: 0.875rem;
    --fs-20: 1.25rem;
    --fs-64: 4rem;
    --wrapper-padding: 0px 150px;
    --dark-grey: #7a7a7a;
    --dim-white: rgba(255, 255, 255, 0.658);
    --off-white: #e9d9d9
}
*{
    /* border: 1px solid rgb(34, 255, 0); */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
    font-size: var(--fs-base);
    /* overflow: hidden; */

}



.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-space-bw{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-space-ev{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.flex-column{
    flex-direction: column;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

  
  }

/* Header Starts */
nav{
    /* height: 85px; */
    padding: 15px 0px;
    /* padding-top: 10px;
    padding-bottom: 10px; */
}

.link{
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 10px;
    color: var(--dark-grey);
}
.link img{
width: 10px;
margin: 5px;
}

hr {
  height: 20px;
  margin-left: 10px;
}
/* Header Ends */

/* Main CSS */
.main-height{
    height: 750px;

}
.main{
    background-image:linear-gradient(0deg, #00000058,#00000058), url(Images/banner.jpg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* 
    background:url(Images/slash.png) no-repeat,linear-gradient(0deg, #b24646,#b24646) no-repeat,url(Images/slash.png) no-repeat,linear-gradient(0deg, #00000058,#00000058) no-repeat,url(Images/banner.jpg) no-repeat center ;
    background-size: auto,550px 100%, auto,auto,auto 100%;
    background-position: auto,auto,auto,auto,auto; */
    /* padding-bottom: 50px; */
}

/* Red section CSS */
.red{
    /* background-position:top; */
    /* right: 50%; */
    height: 100%;
    background:linear-gradient(0deg, #b24646,#b24646) no-repeat ;
    /* background-size: cover; */
    background-size:40% 100%;
    /* padding-bottom: 50px; */
}
.slash{
    background-image: url(Images/slash.png) ;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    
}
/* Mid starts */
.mid{
    align-self: start
}
.mid>.heading{
    align-self: start;

    color: white;
    font-size: var(--fs-64);
    font-family: Arial, sans-serif;
    /* margin-bottom: 50px; */
    width: 60%;
    font-weight: 600;
}
.know-more{
    align-self: start;
    margin-top: 50px;

}
.btn{
    background-color: transparent;
border: 1px solid white;
color: white;
/* padding: 15px 20px; */
margin-right: 20px;
height: 50px;
width: 150px;
}

.btn:hover{
    background-color: #ffffff90;

}

.scroll-btns{
    align-self: start;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    }
    .scroll-btn{
        height: 5px;
        width: 55px;
        margin: 5px;
        border: 1px solid rgb(255, 255, 255);
    }
    
    .scroll-btn:hover{
        background-color: aliceblue;
    }
/* Mid ends */


/* bottom section starts */
.stats{
    /* padding: var(--wrapper-padding); */
    width: 100%;
    backdrop-filter: blur(5px);
    margin-top: 80px;
    /* position: relative; */
    /* bottom: 80px; */
    /* margin: 80px 0px; */
}

.stats>ul{
    height: 100px;
    /* margin: auto; */
    background-color: rgba(0, 0, 0, 0.231);
    overflow: hidden;
    list-style: none;

}


.stats>ul>li{
    display: flex;
    padding: 20px;
}

.stat{
    display:flex ;
    align-items: center;
}

.stat>img{
    height: 35px;
    margin-right: 10px;
}

.stat>.info{
    color: var(--off-white);
    padding: 0px 5px;
    text-align: center;
}
.info>h2{
    font-size: x-large;
    font-weight: normal;}
.info>p{
    font-size: small;
    color: var(--dim-white);
}
.stat:hover hr {
height: 60px;
border: 1px solid war(--off-white);
}
.stat:hover .info>h2{
    font-size: xx-large;
}
.stat>hr{
    height: 50px;
    border:0.5px solid var(--off-white) ;
}
