body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-div {
  min-width: 430px;
  width: 60%;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0 10px -3px black, 0 0 10px 10px #c9f1f04a;
  background-color: #235e9c4a;
}
.top {
  display: flex;
  justify-content: space-between;
}
input {
  margin: 10px 0px;
  border: none;
  border-radius: 3px;
}

#display {
  text-align: center;
}
.fd-row {
  display: flex;
  flex-direction: row;
}

.fd-col {
  display: flex;
  flex-direction: column;
}
.banner-text {
  font-size: large;
}
.btn {
  background-color: transparent;
  border: 1px solid #898989;
}
.btn:hover {
  background-color: #00000029;
  border: 1px solid #898989;
  color: #898989;
}
.error {
  color: red;
}
